.labirinto{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 30px auto; 
   
    width: 375px;
    height: 525px;
    
    background-color: chocolate;
    transform: rotateZ(-90deg);  
}
.parede{
    position: relative;
    width: 25px;
    height: 25px;
    background-color: cornflowerblue;
}
.vazio{
    width: 25px;
    height: 25px;
    background-color: rgb(207, 219, 238);
}
.end{
    width: 25px;
    height: 25px;
    background-color: rgb(252, 4, 4);
}
.start{
    
    width: 25px;
    height: 25px;
    background-color: rgb(161, 110, 163);
    background-blend-mode: multiply;
    transition-duration: 0.7s;
}
.left{
    background-image: url("src/top.png");
    background-color: rgb(207, 219, 238);
    background-size: contain;
    transition-duration: 0.7s;
    background-blend-mode: multiply;
}
.top{
    background-color: rgb(207, 219, 238);
    background-image: url("src/certo.png");
    background-size: contain;
    transition-duration: 0.7s;
    background-blend-mode: multiply;
}
.rigth{
    background-color: rgb(207, 219, 238);
    background-image: url("src/bottom\ .png");
    background-size: contain;
    transition-duration: 0.7s;
    background-blend-mode: multiply;
}   
.bottom{
    background-color: rgb(207, 219, 238);
    background-image: url("src/left.png");
    color: cornflowerblue;
    background-size: contain;
    transition-duration: 0.7s;
    background-blend-mode: multiply;
}
.lose{
    background-image: url("src/explosion.png");
}
.finnaly{
    font-size: 40px;
    margin: 0 auto;
    text-align: center;
}

